@import '../global.scss';
body{
    width: 100%;
    background-color: $lightGreen;

}

@mixin text{
    font-size: 1rem;
        font-weight: 700;
        font-family: 'Noto Sans TC', sans-serif;
}
@mixin nav_box{
    width: 45%;
    height: 100%;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.container{
    width: 60%;
    margin: 0 auto;
    min-width: 912px;
    position: relative;

}

.forms{
    margin: 0 auto;
    // width: 20%;
    position: relative;
    transition: .5s  linear;
    // display: flex;
    // justify-content:flex-start;
    .search{
        // text-align: center;
        border-radius: 40px;
        padding-left: 10px;
        border: 3px black solid;
        background-color:white;
        margin:  0 auto;
        width: 100%;
        height: 50px;
        margin-bottom: 50px;
        
    }
    i{
       position: absolute;
       right: 20px;
       top: 12px;
        font-size: 1.5rem;
        cursor:pointer;
    }
}
p{
    font-size: 1.2rem;
}
.empty{
    width: 100%;
    height: 60px;
    
}



//--------------------------------
.product_nav{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    height: 45px;
    margin-bottom: 50px;
    h2{
        font-size: 1.2rem;
        color: #000;
        font-weight: 700;
    }
    .product_nav_box1{
                @include nav_box;
                // padding-left: 50px;
                flex-grow: 0.4;
        div{
            @include text;
        }
        a{
            text-decoration: none;
        }
    }
    .product_nav_box3{
                @include nav_box;
                // padding-right: 50px;
                flex-grow: 0.4;
        div{
            @include text;
        }
        a{
            text-decoration: none;
        }
    }
    .product_nav_box2{
        flex-grow: 0.2;
        height: 100%;
       position: relative;
       border-bottom: 3px black solid;
       flex-shrink: 1;
        
        p{
            @include text;
            text-align: center;
            font-size: 1.1rem;
            transform: translateY(-5px);
            font-weight: 700;
        }
    }
  }







    .cardbox{

        // min-width: 912px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content:flex-start;
        align-items:flex-start;
       
       
        .card{
            width: 23%;
            // border: 1px black solid;
            border-radius: 10px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0,0,0,.25);
            cursor: pointer;
        }
        .imgWrap{
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                object-fit:cover;
                margin-bottom: 10px;
            }
        }
        
        p{
            margin-bottom: 10px;
            line-height: 1.2rem;
        }
        h2{
            font-size: 1.2rem;
            span{
                color:#FF0F00;
            }
        }    

       
        // .cardEmpty{
        //     width: 20%;
        // }
        // .cardEmpty2{
        //     width: 2%;
        // }
    }

    .filter{
        // width: 246px;
        display: flex;
        position:absolute;
        justify-content:center;
        // min-width: 246px;
        // width:16%;
        top: 840px;
        // top: 65px;
        right: 110%;
        // left: 105px;
        flex-shrink: .2;
        background-color: #F5F5F5;
        padding:10px;
        border-radius: 10px;
        box-shadow: 3px 3px 6px rgb(127, 126, 126);
        h2{
            font-size: 1.3rem;
         }
    }
    
    .filter2{
        display: flex;
        position:fixed;
        justify-content:center;
        // min-width: 246px;
        // width:16%;
        // top: 0px;
        top: 65px;
        // right: 105%;
        left: 30px;
        flex-shrink: .2;
        background-color: #F5F5F5;
        padding:10px;
        border-radius: 10px;
        box-shadow: 3px 3px 6px rgb(127, 126, 126);
        h2{
            font-size: 1.3rem;
         }
    }




.pricebox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dash{
    width: 10px;
    height: 2px;
    background-color: #000;
    margin: 0 5px 0 5px;
}
input{
    border-radius: 5px;
    background-color: #fff;
}
.filterSelect{
    width: 225px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.genderRadio{
    margin-bottom: 10px;
    // text-align: center;
    display: flex;
    // justify-content: center;
    justify-content: start;
    .genderBox{
        width: 100%;
        text-align: center;
    }
    input{
            margin: 0 10px 0 10px;
        }
    label{
        font-size: 1.2rem;
    }
}
.filterButton{
    border-radius: 5px;
    background-color: #FF0F00;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    width: 225px;
    height: 30px;
    &:hover{
        background-color: $yellow;
        color: black;

    }
}
.checkBoxWrap{
    // display: flex;
    margin:  10px 0 10px 0;
    .checkBox{
        width: 100%;
        margin:  10px 0 10px 0;
        input{
            margin-right: 5px;
        }
    }
}

.star{
    display: flex;
    flex-direction: column;
    gap: 5px;
    i{
        color:rgb(252, 224, 5) ;
    }
    link{
        margin: 5px 0 5px 0;
    }
}



@media screen and (max-width:390px) {
    @mixin text{
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Noto Sans TC', sans-serif;
    }
    .empty{
        width: 100%;
        height: 1px;
        
    }
    .container{
        width: 100%;
        margin: 0 auto;
        min-width: 390px;
        position: relative;
        overflow: hidden;
    
    }
    
    .cardbox{

        // min-width: 912px;
        width:95%;
        margin:  0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content:space-between;
        align-items:flex-start;

       
       
        .card{
            width: 48%;
            // border: 1px black solid;
            border-radius: 10px;
            // height: 350px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0,0,0,.25);
            cursor: pointer;
        }
        .imgWrap{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                // height: 150px;
                object-fit:cover;
                margin-bottom: 10px;
            }
        }
        
        p{
            margin-bottom: 10px;
            line-height: 1.2rem;
        }
        h2{
            font-size: 1.2rem;
            span{
                color:#FF0F00;
            }
        }    

       
        // .cardEmpty{
        //     width: 20%;
        // }
        // .cardEmpty2{
        //     width: 2%;
        // }
    }


    .product_nav{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        height: 45px;
        margin-bottom: 0px;
        
        // transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
        // overflow:hidden;
        p{
            // text-align: center;
            line-height: 1.2rem;
        }
        h2{
            font-size:.9rem;
            color: #000;
            font-weight: 700;
        }
        .product_nav_box1{
                    @include nav_box;
                    // padding-left: 50px;
                    flex-grow: 0.5;
                    border:none;
                    background-color: #F3DD8E;
            a{
                text-decoration: none;
            }
        }
        .product_nav_box3{
                    @include nav_box;
                    // padding-right: 50px;
                    flex-grow: 0.5;
                    border:none;
                    background-color: #F3DD8E;
            a{
                text-decoration: none;
            }
        }
        .product_nav_box2{
            width: 0%;
            flex-grow: 0;
            height: 100%;
           position: relative;
           flex-shrink: 1;
           border:none;
           background-color: #F3DD8E;
            p{
                @include text;
                visibility: hidden;
                text-align: center;
                font-size: 1rem;
                transform: translateY(-5px);
                font-weight: 700;
            }
        }
      }

// --------------------------------------------------------
     

      .mbfilter{
        // margin: 0 auto;
        width: 100%;
        height: 80px;
        display: flex;
        overflow: hidden;
        transition: .5s ease-in-out;
        position:static;
        justify-content:center;
        // flex-grow: 1;
        text-align: center;
       
        padding:10px;
        // border-radius: 10px;
        // background-color: #F5F5F5;
        // box-shadow: 3px 3px 6px rgb(127, 126, 126);
        margin-bottom: 30px;
        h2{
            font-size: 1.3rem;
         }
         label{
            font-size: 1.2rem;
         }
    }
 .filterTop{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    .forms{
        width: 70%;
        margin: 0 auto;
        .search{
            // text-align: center;
            border-radius: 40px;
            padding-left: 10px;
            border: 1px #ccc solid;
            background-color:white;
            margin:  0 auto;
            width: 100%;
            height: 40px;
            
        }
        i{
            top: 8px;
           }
        }
        .icon{
            width: 30%;
            display: flex;
            justify-content:flex-end;
            flex-grow:1 ;
            // margin-left: 20px
            i{
                margin-left: 20px
            };
        }
        
     }
    
    
    .pricebox{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .dash{
        width: 10px;
        height: 2px;
        background-color: #000;
        margin: 0 5px 0 5px;
    }
    input{
        border-radius: 5px;
        background-color: #fff;
    }
    .filterSelect{
        width: 225px;
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .genderRadio{
        margin-bottom: 10px;
        // text-align: center;
        display: flex;
        justify-content:flex-start;
    
        .genderBox{
            width: 100%;
            text-align: center;
        }
        input{
                margin: 0 10px 0 10px;
            }
        label{
            font-size: 1.2rem;
        }
    }
    .filterButton{
        border-radius: 5px;
        background-color: #FF0F00;
        font-size: 1.2rem;
        color: #fff;
        border: none;
        width: 225px;
        height: 30px;
    
    }
    .checkBoxWrap{
        // display: flex;
        margin:  10px 0 10px 0;
        .checkBox{
            width: 100%;
            margin:  10px 0 10px 0;
            input{
                margin-right: 5px;
            }
        }
    }
    
    .star{
        display: flex;
        flex-direction: column;
        gap: 5px;
        i{
            color:rgb(252, 224, 5) ;
        }
        link{
            margin: 5px 0 5px 0;
        }
    }
    
    }