@import '../global.scss';

.empty {
    width: 100%;
    height: 100px;
}

.container {
    width: 60%;
    // height:200vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px auto;
    padding: 60px 0;
}

.section1 {
    display: flex;
    height: 35%;
    padding: 50px 20px 0 50px;


    .left {
        width: 35%;
        overflow: hidden;
        // height: 100%;

        .imgmain {
            width: 350px;
            margin: 0 auto;
            height: 300px;
            object-fit: cover;

            img {
                height: 300px;
                width: 100%;

            }

        }
    }

    .right {
        width: 65%;
        height: 100%;
        padding-left: 80px;
        display: flex;
        flex-direction: column;

        // justify-content: center;
        h2,
        p,
        .flex {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 500;
        }

        .addcart {
            align-self: center;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 40px;
        }

        .addcart:hover {
            background-color: rgb(255, 174, 0);
            color: black;
        }

    }

}

.smallpic {
    display: flex;
    justify-content: space-around;

    div {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.flex {
    display: flex;
    width: 100%;

    div:first-child {
        width: 270px;
    }

    button {
        border: none;
        border: 1px solid black;
        background-color: white;

    }

    .middlebutton {
        border-left: none;
        border-right: none;
    }
}


.section2 {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    border-bottom: 2px solid #B5B2B2;


    .title {
        font-size: 18px;
        font-weight: 500;
        width: 50%;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 4px solid #26740A;
    }

    .title1 {
        font-size: 18px;
        font-weight: 500;
        width: 50%;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }

}

.section3 {
    width: 70%;
    margin: 0 auto;



    h3 {
        border-left: 4px solid black;
        padding-left: 5px;
        // margin-bottom:40px;
        margin: 20px 0;
        font-size: 26px;
    }

    pre {

        // overflow: auto;
        line-height: 2rem;
        font-weight: 600;
        white-space: pre-wrap;
    }

    // p{
    //     padding-left:9px;
    //     margin-bottom:40px;
    //     width:70%;
    //     // height:500px;
    // }
}

.section4 {
    width: 70%;
    margin: 0 auto;

    h3 {
        font-size: 26px;
        margin: 20px 0;
    }

    .cardbox {
        display: flex;
        justify-content: space-around;
        width: 100%;
        // border:1px solid black;
        // overflow:hidden;
        // .card{
        //     width:30%;
        //     padding:20px;
        //     // border:1px solid #ccc;
        //     box-shadow: 1px 4px 3px 3px #ccc;
        //     border-radius: 5px;
        //     .imgwrap{

        //         img{
        //             width:100%;
        //         }
        //     }

        //     p:nth-child(3){
        //         font-size:18px;
        //         font-weight: 500;
        //     }

        // }
    }
}

.sectionCommnent {
    width: 70%;
    margin: 0 auto;

    .star {
        color: yellow;
    }

    .commnentCardBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .commentCard {
            border: 1px solid #ccc;
            width: 30%;
            margin-bottom: 10px;
            padding: 10px;


            .memberInfo {
                display: flex;
                // justify-content: space-between;
                align-items: center;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid yellow;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                p {
                    color: #18472A;
                    text-align: center;
                    margin: 0 10px;
                    // line-height: 100%;

                }



            }

            .commnentWord {
                font-size: 12px;
            }

            .readMore {
                font-size: 10px;
                font-weight: 600;
            }

        }
    }


    .rental_price {
        margin-right: auto;
    }


}

.toStore{
    position:relative;
    &:after{
        content:'查詢店點';
        position:absolute;
        width:80px;
        background-color:rgba(238, 244, 128, 0.779);
        display:none;
        cursor: pointer;
    }
    &:hover:after{
        // transform:translateY(15px);
        // left:15px;
        display:block
    }
}
