@import './global.scss';
.nav {
  width: 100%;
  height: 60px;
  background-color: $darkGreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 30px;
  position: fixed;
  z-index: 88;
  overflow: hidden;
  ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: .3s;
      &:hover {
        border-bottom: 2px solid $yellow;
        padding-bottom: 5px;
      }
    }
  }
}
.navRight {
  a {
    margin-left: 30px;
    transition: .3s;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $yellow;
      padding-bottom: 3px;
    }
  }
  i {
    font-size: 18px;
    color: #ffffff;
  }
  span {
    padding: 0px 5px;
    font-size: 10px;
    border-radius: 10%;
    background-color: $yellow;
  }
}

.logo {
  width: 100px;
  height: 50px;
  img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
}
.navLeft {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.loginBefore{
  width: 70px;
  height: 80px;
  background-color: #5F5F5F;
  position: fixed;
  // top: -20px;
  right: 10px;
  z-index: 10;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  transition: .3s;
  a{
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    color: white;
    span{
      border-bottom: 2px solid transparent;
      transition: .3s;
    }
    &:hover span{
      border-bottom: 2px solid $yellow;
      padding-bottom: 2px;
    }
  }
  &::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 30px;
    border-style: solid;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent #5F5F5F transparent;
  }
}