@import './global.scss';
.nav {
  width: 100%;
  height: 60px;
  background-color: $darkGreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 30px;
  position: fixed;
  z-index: 1005;
  overflow: hidden;
  ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;

    a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: 0.3s;
      &:hover {
        border-bottom: 2px solid $yellow;
        padding-bottom: 5px;
      }
    }
  }
}
.navRight {
  a {
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $yellow;
      padding-bottom: 3px;
    }
  }
  i {
    font-size: 18px;
    color: #ffffff;
    span{
      font-weight: 500;
    }
  }
  .cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 13px;
    width: 17px;
    height: 17px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: $yellow;
    p {
      font-size: 4px;
      color: black;
    }
  }
}

.logo {
  width: 100px;
  height: 50px;
  img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
}
.navLeft {
  display: flex;
  width: 55%;
  // justify-content: space-between;
}

.loginBefore {
  width: 70px;
  height: 80px;
  background-color: #5f5f5f;
  position: fixed;
  // top: -20px;
  right: 10px;
  z-index: 10;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s;

  a,
  .logOut {
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    color: white;
    cursor: pointer;
    span {
      border-bottom: 2px solid transparent;
      transition: 0.3s;
    }
    &:hover span {
      border-bottom: 2px solid $yellow;
      padding-bottom: 2px;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 30px;
    border-style: solid;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent #5f5f5f transparent;
  }
}
@media screen and (max-width: 1450px) {
  .nav {
    width: 100%;
    height: 60px;
    background-color: $darkGreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 30px;
    position: fixed;
    z-index: 78;
    overflow: hidden;
    ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;

      a {
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        &:hover {
          border-bottom: 2px solid $yellow;
          padding-bottom: 5px;
        }
      }
    }
  }

  .navLeft {
    display: flex;
    width: 80%;
    // justify-content: space-between;
  }
}
@media screen and (max-width: 996px) {
  .nav {
    width: 100%;
    height: 60px;
    background-color: $darkGreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 30px;
    position: fixed;
    z-index: 78;
    overflow: hidden;
    ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 20px;

      a {
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        &:hover {
          border-bottom: 2px solid $yellow;
          padding-bottom: 5px;
        }
      }
    }
  }

  .navLeft {
    display: flex;
    width: 80%;
    // justify-content: space-between;
  }

  .navRight {
    display: flex;
    align-items: center;
    i{
      display: flex;
      align-items: center;
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 837px) {
  .navBarBigWrap {
    position: fixed;
    z-index: 88;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 10px;
    .mobTopWrap {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      .logoWrap {
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        width: 100%;
        .logo {
          width: 65px;
          height: 60px;
          img {
            width: 100%;
            // height: 20px;
            object-fit: cover;
          }
        }
      }
      //-------------------------------------------
      .loginBefore {
        width: 70px;
        height: 80px;
        background-color: #5f5f5f;
        position: fixed;
        // top: -20px;
        right: 10px;

        // z-index:
        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
        transition: 0.5s linear inherit;
        a {
          line-height: 30px;
          display: inline-block;
          font-size: 12px;
          color: white;
          span {
            border-bottom: 2px solid transparent;
            transition: 0.3s;
          }
          &:hover span {
            border-bottom: 2px solid $yellow;
            padding-bottom: 2px;
          }
        }
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: -15px;
          left: 75%;
          border-style: solid;
          border-width: 8px;
          border-color: transparent transparent #5f5f5f transparent;
          transform: rotate(0deg) translateX(-50%) scaleX(70%);
        }
      }

      //-------------------------------------------
      .navRight {
        position: absolute;
        top: 5px;
        right: 15px;
        margin-top: 10px;
        // z-index: 2;
        // overflow: hidden;
        a {
          margin-left: 20px;
        }
      }
    }

    .mobNavWrap {
      margin-bottom: 8px;
      ul {
        display: flex;
        justify-content: space-around;
      }
      li {
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
