@import './global.scss';
// html{
//     position: relative;
// }

// img{
//     width: 20%;
//     position:fixed;
//     z-index: 800;
//     left: 30px;
//     top: 350px;
// }
.cloud1 {
  z-index: -1;
  position: fixed;
  top: 0px;
  animation: flow1 25s linear infinite;
  animation-direction: alternate;
}
.cloud2 {
  z-index: -1;
  position: fixed;
  right: 0;
  top: 400px;
  animation: flow2 25s linear infinite;
  animation-direction: alternate;
  width: 600px;
}
// .cloud3 {
//   position: fixed;
//   top: 900px;
//   animation: flow1 30s linear infinite;
// }
// .cloud4 {
//   position: absolute;
//   right: 0;
//   top: 175vh;
//   animation: flow2 30s linear infinite;
// }

@keyframes flow1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(78vw) ;
  }
}
@keyframes flow2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform:  translateX(-78vw);
  }
}


@media screen and (max-width: 390px){
  @keyframes flow1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30vw) ;
    }
  }
  @keyframes flow2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform:  translateX(-30vw);
    }
  }

  .cloud1 {
    position: absolute;
    top: 10vh;
    width: 100px;
    animation: flow1 3s linear infinite;
    animation-direction: alternate;
  }
  .cloud2 {
    position: absolute;
    right: 0;
    top: 55vh;
    animation: flow2 3s linear infinite;
    animation-direction: alternate;
    width: 100px;
  }
  // .cloud3 {
  //   position: absolute;
  //   top: 145vh;
  //   animation: flow1 1s linear infinite;
  // }
  // .cloud4 {
  //   position: absolute;
  //   right: 0;
  //   top: 175vh;
  //   animation: flow2 1s linear infinite;
  // }
}
