@import '../global.scss';

*{
    line-height: 1.2rem;
    font-family: 'Noto Sans TC', sans-serif;
}


.comLightBox{
    background-color: rgba(7, 2, 2, 0.507);
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comView{
    // margin: 0 auto;
    width: 55%;
    // height: 350px;
    background-color: #fff;
    display: flex;
    .leftArea{
        width: 45%;
        padding: 20px 40px;
        .picAndNameWrap{
            display: flex;
            align-items: center;
            height: 110px;
            margin-bottom: 10px;
                .imgBorder{
                    margin-right: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
                .imgWrap{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .Name{
                font-size: 2rem;
            }
        }
        .howStar{
            
        }
    }
    .rightArea{
        width: 45%;
        padding: 20px 40px;
        .comDate{
            display: flex;
            align-items: center;
            height: 110px;
        }
        .comText{
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }
}

