@import '../global.scss';
*{
    line-height: 1.2rem;
    font-family: 'Noto Sans TC', sans-serif;
}
.empty{
    width: 100%;
    height: 70px;
    
}


.on {
    color: $yellow;
  }
  .off {
    color: #ccc;
  }





.container{
    width: 100%;
    padding: 40px 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card{
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px  ;
     overflow:hidden;
}
a{
    color: #000;
}
.productDtail{
    display: flex;
    margin-bottom: 80px;
//    padding: 30px 80px;
}
.imgBox{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    .bigImg{
        width: 100%;
        height: 300px;
        text-align: center;
        margin-bottom: 5px;
        img{
            // width: 100%;
            height: 300px;
            object-fit: cover;
            

        }
    }
    .imgGroup{
        display: flex;
        width: 100%;
        img{
            width: 24.8%;
            &:hover{
                border: 1px red solid;
            }
        }
        
    }
}




.productText{
    width:55%;
    display: flex;
    flex-direction: column;
    .productTitle{
        i{  
            margin: 10px 5px;
            color:$yellow ;
            font-size: 1.2rem;
        }
        h1{
            font-size: 1.6rem;
        }
       
    }
    // 金額 h2
    h2{
        font-size: 1.5rem; 
        margin-bottom: 20px;
        font-weight: 700;
    }
    .standard{
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;
        margin: 30px 0;
        //商品規格h2
        h2{
            
            font-size: 1.2rem;
            margin-bottom: 0px;
        }
        .standardBox{
            cursor: pointer;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            // border: 1px black solid;
            box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
            // filter: drop-shadow(3px 3px 10px #ccc);
            font-size: 1.5rem;
            font-weight: 700;
            border-radius: 10px;
            &:hover{
                background-color: #FFDA16;
            }
            
        }
        .standardBox2{
            cursor: pointer;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 25px;
            // border: 1px black solid;
            box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
            // filter: drop-shadow(3px 3px 10px #ccc);
            font-size: .8rem;
            font-weight: 700;
            border-radius: 5px;
            &:hover{
                background-color: #FFDA16;
            }
            
        }
        .standardBoxChose{
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            // border: 1px black solid;
            box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
            // filter: drop-shadow(3px 3px 10px #ccc);
            font-size: 1.5rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: #FFDA16;
            &:hover{
                background-color: #FFDA16;
            }
            
        }
        .standardBoxChose2{
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 25px;
            // border: 1px black solid;
            box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
            // filter: drop-shadow(3px 3px 10px #ccc);
            font-size: .8rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: #FFDA16;
            &:hover{
                background-color: #FFDA16;
            }
            
        }
        
    }

    .howNum{
        width: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        p{
            font-size: 1.2rem;
            font-weight: 700;
            margin-right: 30px;
        }
        .numBox{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            border: 1px solid #ccc;
            
            .numBox1{
                border-right: 1px solid #ccc;
                padding: 5px;
                cursor: pointer;
            }
            .numBox2{
                padding: 5px;
            }
            .numBox3{
                border-left: 1px solid #ccc;
                padding: 5px;
                cursor: pointer;
            }
        }
        
    }

    .deliver{
        display: flex;
        align-items: center;
        p{
            font-size: 1.2rem;
            font-weight: 700;
            margin-right: 30px;
        }
        label{
            margin-right: 5px;
        }
        input{
            margin-right: 30px;
        }
        margin-bottom: 50px;
    }
    .buttonGroup{
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content:flex-start;
        .cart{
            border-radius: 5px;
            background-color: #000;
            border: none;
            color: white;
            margin-left: 40px;
            margin-right: 80px;
            padding: 10px;
            width: 150px;
            &:hover{
                background-color: $yellow;
                color: black;
                border: none;
            }
        }
        .buy{
            border-radius: 5px;
            border: none;
            background-color: #000;
            color: white;
            padding: 10px;
            width: 150px;
            
            &:hover{
                background-color: $yellow;
                color: black;
                border: none;
            }
        }
    }
}

.changeTitle{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 2px solid #ccc;
    .productIntro{
        width: 50%;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        transform: translateY(1px);
        cursor: pointer;
       
    }
    .productCommon{
        width: 50%;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
    }
}




.introWrap{
    width: 80%;
    // margin: 0 auto;
    .introTitle{
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 10px;
        border-left:5px black solid ;
        font-size: 1.2rem;
        font-weight: 700;
        &:hover{
            border-left:5px #26740A solid ;
        }
    }
    
    
    
    
    .intro{
        margin-bottom: 30px;
    }
}



//下方卡片

.guessYouLike{

    // min-width: 912px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content:flex-start;
    align-items:flex-start;

   
   
    .card{
        width: 220px;
        height: 300px;
        // border: 1px black solid;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0px 4px 16px rgba(0,0,0,.25);
        cursor: pointer;
        .imgWrap{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            &:hover img{
                transition: .5s;
                transform:scale(1.2,1.2);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }
        }
    }
    
    
    p{
        margin-bottom: 0px;
            height: 50px;
            line-height: 1rem;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
    }
    h2{
        font-size: 1.2rem;
        span{
            color:#FF0F00;
        }
    }    

   
    // .cardEmpty{
    //     width: 20%;
    // }
    // .cardEmpty2{
    //     width: 2%;
    // }
}

.underLine{
    border-bottom: 5px solid #26740A;
}


.comWrap{
    width: 95%;
    margin: 0 auto;
}

.starBox{
    // width: 80%;
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
    p{
        font-size: 1.2rem;
    }
    .write{
        
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
        color: black;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        &:hover{
            // background-color: red;
            color: red;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
}

.commonArea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}
.commonBox{
    padding: 15px 30px;
    width: 32%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    .commonTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        .memberName{
            font-size: 1.5rem;
            margin-left: 20px;
        }
    
        .commonTitle_img_border{
            cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                 width: 60px;
                height: 60px;
                border-radius: 50%;
            background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
            
            .commonTitle_img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                 overflow: hidden;
                 img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                 }
            }
        }
        .gold {
            background-image: conic-gradient(from 180deg at 50% 50%, #fffcf4 0deg, #ffbf00 69.37deg, #ffa600 163.12deg, #ab8100 275.62deg, #ffffff 360deg);
        }
        
        .silver {
            background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
        }
        
        .bronze {
            background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
        }
    }
    .commonText{
        line-height: 1.5rem;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .howStar{
        display: flex;
        color: #FFDA16;
        margin-bottom: 20px;
    }
    .readMore{
        font-weight: 700;
        cursor: pointer;
    }
    
}

//-----------------------Rwd 

@media screen and (max-width:1550px){
    

    .container{
        width: 100%;
        padding: 40px 80px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .card{
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px  ;
         overflow:hidden;
    }
    a{
        color: #000;
    }
    .productDtail{
        display: flex;
        margin-bottom: 80px;
    //    padding: 30px 80px;
    }
    .imgBox{
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        .bigImg{
            width: 100%;
            height: 300px;
            text-align: center;
            margin-bottom: 5px;
            img{
                // width: 100%;
                height: 300px;
                object-fit: cover;
                
    
            }
        }
        .imgGroup{
            display: flex;
            width: 100%;
            img{
                width: 24.8%;
                &:hover{
                    border: 1px red solid;
                }
            }
            
        }
    }
    
    
    
    
    .productText{
        width:55%;
        display: flex;
        flex-direction: column;
        .productTitle{
            i{  
                margin: 10px 5px;
                color:$yellow ;
                font-size: 1.2rem;
            }
            h1{
                font-size: 1.6rem;
            }
           
        }
        // 金額 h2
        h2{
            font-size: 1.5rem; 
            margin-bottom: 20px;
            font-weight: 700;
        }
        .standard{
            display: flex;
            align-items: center;
            // flex-wrap: wrap;
            width: 100%;
            margin: 30px 0;
            //商品規格h2
            h2{
                
                font-size: 1.2rem;
                margin-bottom: 0px;
            }
            .standardBox{
                cursor: pointer;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 10px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBox2{
                cursor: pointer;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose{
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose2{
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            
        }
    
        .howNum{
            width: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            .numBox{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                border: 1px solid #ccc;
                
                .numBox1{
                    border-right: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
                .numBox2{
                    padding: 5px;
                }
                .numBox3{
                    border-left: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
            }
            
        }
    
        .deliver{
            display: flex;
            align-items: center;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            label{
                margin-right: 5px;
            }
            input{
                margin-right: 30px;
            }
            margin-bottom: 50px;
        }
        .buttonGroup{
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content:flex-start;
            .cart{
                border-radius: 5px;
                background-color: #000;
                border: none;
                color: white;
                margin-left: 40px;
                margin-right: 80px;
                padding: 10px;
                width: 150px;
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
            .buy{
                border-radius: 5px;
                border: none;
                background-color: #000;
                color: white;
                padding: 10px;
                width: 150px;
                
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
        }
    }
    
    .changeTitle{
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: 2px solid #ccc;
        .productIntro{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            transform: translateY(1px);
            cursor: pointer;
           
        }
        .productCommon{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    
    
    
    .introWrap{
        width: 80%;
        // margin: 0 auto;
        .introTitle{
            margin-top: 20px;
            margin-bottom: 30px;
            padding-left: 10px;
            border-left:5px black solid ;
            font-size: 1.2rem;
            font-weight: 700;
            &:hover{
                border-left:5px #26740A solid ;
            }
        }
        
        
        
        
        .intro{
            margin-bottom: 30px;
        }
    }
    
    
    
    //下方卡片
    
    .guessYouLike{
    
        // min-width: 912px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content:flex-start;
        align-items:flex-start;
    
       
       
        .card{
            width: 220px;
            height: 330px;
            // border: 1px black solid;
            border-radius: 10px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0,0,0,.25);
            cursor: pointer;
            .imgWrap{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                &:hover img{
                    transition: .5s;
                    transform:scale(1.2,1.2);
                }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
            }
        }
        
        
        p{
            margin-bottom: 0px;
                height: 50px;
                line-height: 1rem;
                font-size: .9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
        }
        h2{
            font-size: 1.2rem;
            span{
                color:#FF0F00;
            }
        }    
    
       
        // .cardEmpty{
        //     width: 20%;
        // }
        // .cardEmpty2{
        //     width: 2%;
        // }
    }
    
    .underLine{
        border-bottom: 5px solid #26740A;
    }
    
    
    .comWrap{
        width: 95%;
        margin: 0 auto;
    }
    
    .starBox{
        // width: 80%;
        display: flex;
        align-items: center;
        margin: 10px 0 20px 0;
        
        .write{
            font-size: 1.2rem;
            // width: 100px;
            border-radius: 5px;
            border: none;
            padding: 10px 15px;
            // background-color: black;
                color: black;
                font-weight: 700;
                cursor: pointer;
            &:hover{
                // background-color: red;
                color: red;
            }
        }
    }
    
    .commonArea{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .commonBox{
        padding: 15px 30px;
        width: 32%;
        border: 1px solid #ccc;
        .commonTitle{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .memberName{
                font-size: 1.1rem;
                margin-left: 20px;
            }
        
            .commonTitle_img_border{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                     width: 60px;
                    height: 60px;
                    border-radius: 50%;
                background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
                .commonTitle_img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                     overflow: hidden;
                     img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }
                }
            }
            

            .gold {
                background-image: conic-gradient(from 180deg at 50% 50%, #fffcf4 0deg, #ffbf00 69.37deg, #ffa600 163.12deg, #ab8100 275.62deg, #ffffff 360deg);
            }

            .silver {
                background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
            }

            .bronze {
                background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
            }
        }
        .commonText{
            line-height: 1.5rem;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .howStar{
            color: #FFDA16;
            margin-bottom: 20px;
        }
        .readMore{
            font-weight: 700;
            cursor: pointer;
        }
        
    }

}
//-----------------------rwd
@media screen and (max-width:1170px){
    .container{
        width: 100%;
        padding: 40px 80px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .card{
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px  ;
         overflow:hidden;
    }
    a{
        color: #000;
    }
    .productDtail{
        display: flex;
        margin-bottom: 80px;
    //    padding: 30px 80px;
    }
    .imgBox{
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        .bigImg{
            width: 100%;
            height: 300px;
            text-align: center;
            margin-bottom: 5px;
            img{
                // width: 100%;
                height: 300px;
                object-fit: cover;
                
    
            }
        }
        .imgGroup{
            display: flex;
            width: 100%;
            img{
                width: 24.8%;
                &:hover{
                    border: 1px red solid;
                }
            }
            
        }
    }
    
    
    
    
    .productText{
        width:55%;
        display: flex;
        flex-direction: column;
        .productTitle{
            i{  
                margin: 10px 5px;
                color:$yellow ;
                font-size: 1.2rem;
            }
            h1{
                font-size: 1.6rem;
            }
           
        }
        // 金額 h2
        h2{
            font-size: 1.5rem; 
            margin-bottom: 20px;
            font-weight: 700;
        }
        .standard{
            display: flex;
            align-items: center;
            // flex-wrap: wrap;
            width: 100%;
            margin: 30px 0;
            //商品規格h2
            h2{
                
                font-size: 1.2rem;
                margin-bottom: 0px;
            }
            .standardBox{
                cursor: pointer;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 10px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBox2{
                cursor: pointer;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose{
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose2{
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            
        }
    
        .howNum{
            width: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            .numBox{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                border: 1px solid #ccc;
                
                .numBox1{
                    border-right: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
                .numBox2{
                    padding: 5px;
                }
                .numBox3{
                    border-left: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
            }
            
        }
    
        .deliver{
            display: flex;
            align-items: center;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            label{
                margin-right: 5px;
            }
            input{
                margin-right: 30px;
            }
            margin-bottom: 50px;
        }
        .buttonGroup{
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content:flex-start;
            .cart{
                border-radius: 5px;
                background-color: #000;
                border: none;
                color: white;
                margin-left: 20px;
                margin-right: 40px;
                padding: 10px;
                width: 150px;
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
            .buy{
                border-radius: 5px;
                border: none;
                background-color: #000;
                color: white;
                padding: 10px;
                width: 150px;
                
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
        }
    }
    
    .changeTitle{
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: 2px solid #ccc;
        .productIntro{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            transform: translateY(1px);
            cursor: pointer;
           
        }
        .productCommon{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    
    
    
    .introWrap{
        width: 80%;
        // margin: 0 auto;
        .introTitle{
            margin-top: 20px;
            margin-bottom: 30px;
            padding-left: 10px;
            border-left:5px black solid ;
            font-size: 1.2rem;
            font-weight: 700;
            &:hover{
                border-left:5px #26740A solid ;
            }
        }
        
        
        
        
        .intro{
            margin-bottom: 30px;
        }
    }
    
    
    
    //下方卡片
    
    .guessYouLike{
    
        // min-width: 912px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content:flex-start;
        align-items:flex-start;
    
       
       
        .card{
            width: 48%;
            height: 330px;
            // border: 1px black solid;
            border-radius: 10px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0,0,0,.25);
            cursor: pointer;
            .imgWrap{
                width: 100%;
                height: 220px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                &:hover img{
                    transition: .5s;
                    transform:scale(1.2,1.2);
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
            }
        }
        
        
        p{
            margin-bottom: 0px;
                height: 50px;
                line-height: 1rem;
                font-size: .9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
        }
        h2{
            font-size: 1.2rem;
            span{
                color:#FF0F00;
            }
        }    
    
       
        // .cardEmpty{
        //     width: 20%;
        // }
        // .cardEmpty2{
        //     width: 2%;
        // }
    }
    
    .underLine{
        border-bottom: 5px solid #26740A;
    }
    
    
    .comWrap{
        width: 95%;
        margin: 0 auto;
    }
    
    .starBox{
        // width: 80%;
        display: flex;
        align-items: center;
        margin: 10px 0 20px 0;
        
        .write{
            font-size: 1.2rem;
            // width: 100px;
            border-radius: 5px;
            border: none;
            padding: 10px 15px;
            // background-color: black;
                color: black;
                font-weight: 700;
                cursor: pointer;
            &:hover{
                // background-color: red;
                color: red;
            }
        }
    }
    
    .commonArea{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    .commonBox{
        padding: 15px 30px;
        width: 47%;
        border: 1px solid #ccc;
        .commonTitle{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .memberName{
                font-size: 1.5rem;
                margin-left: 20px;
            }
        
            .commonTitle_img_border{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                     width: 60px;
                    height: 60px;
                    border-radius: 50%;
                background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
                .commonTitle_img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                     overflow: hidden;
                     img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }
                }
            }
            

            .gold {
                background-image: conic-gradient(from 180deg at 50% 50%, #fffcf4 0deg, #ffbf00 69.37deg, #ffa600 163.12deg, #ab8100 275.62deg, #ffffff 360deg);
            }

            .silver {
                background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
            }

            .bronze {
                background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
            }
        }
        .commonText{
            line-height: 1.5rem;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .howStar{
            color: #FFDA16;
            margin-bottom: 20px;
        }
        .readMore{
            font-weight: 700;
            cursor: pointer;
        }
        
    }
}

//rwd
@media screen and (max-width:850px){
    .container{
        width: 100%;
        padding: 40px 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .card{
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px  ;
         overflow:hidden;
    }
    a{
        color: #000;
    }
    .productDtail{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
       padding: 0px 80px;
    }
    .imgBox{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 30px;
        .bigImg{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            // text-align: center;
            margin-bottom: 5px;
            img{
                // width: 100%;
                height: 300px;
                object-fit: cover;
                
    
            }
        }
        .imgGroup{
            display: flex;
            width: 100%;
            img{
                width: 24.8%;
                &:hover{
                    border: 1px red solid;
                }
            }
            
        }
    }
    
    
    
    
    .productText{
        width:100%;
        margin-right:15px;
        display: flex;
        flex-direction: column;
        .productTitle{
            i{  
                margin: 10px 5px;
                color:$yellow ;
                font-size: 1.2rem;
            }
            h1{
                width: 100%;
                font-size: 1.2rem;
               
            }
           
        }
        // 金額 h2
        h2{
            font-size: 1.5rem; 
            margin-bottom: 20px;
            font-weight: 700;
            text-align: left;
        }
        .standard{
            display: flex;
            align-items: center;
            // flex-wrap: wrap;
            width: 100%;
            margin: 10px 0;
            //商品規格h2
            h2{
                
                font-size: 1.2rem;
                margin-bottom: 0px;
            }
            .standardBox{
                cursor: pointer;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 10px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBox2{
                cursor: pointer;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose{
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            .standardBoxChose2{
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 25px;
                // border: 1px black solid;
                box-shadow:  3px  3px 3px #ccc,-3px 0px 3px #ccc;
                // filter: drop-shadow(3px 3px 10px #ccc);
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                background-color: #FFDA16;
                &:hover{
                    background-color: #FFDA16;
                }
                
            }
            
        }
    
        .howNum{
            width: 100%;
            display: flex;
            
            align-items: center;
            margin-bottom: 20px;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            .numBox{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                border: 1px solid #ccc;
                
                .numBox1{
                    border-right: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
                .numBox2{
                    padding: 5px;
                }
                .numBox3{
                    border-left: 1px solid #ccc;
                    padding: 5px;
                    cursor: pointer;
                }
            }
            
        }
    
        .deliver{
            display: flex;
            align-items: center;
            p{
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: 30px;
            }
            label{
                margin-right: 5px;
            }
            input{
                margin-right: 30px;
            }
            margin-bottom: 50px;
        }
        .buttonGroup{
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content:center;
            .cart{
                border-radius: 5px;
                background-color: #000;
                border: none;
                color: white;
                margin-left: 20px;
                margin-right: 40px;
                padding: 10px;
                width: 150px;
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
            .buy{
                border-radius: 5px;
                border: none;
                background-color: #000;
                color: white;
                padding: 10px;
                width: 150px;
                
                &:hover{
                    background-color: $yellow;
                    color: black;
                    border: none;
                }
            }
        }
    }
    
    .changeTitle{
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: 2px solid #ccc;
        .productIntro{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
            transform: translateY(1px);
            cursor: pointer;
           
        }
        .productCommon{
            width: 50%;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    
    
    
    .introWrap{
        width: 80%;
        // margin: 0 auto;
        .introTitle{
            margin-top: 20px;
            margin-bottom: 30px;
            padding-left: 10px;
            border-left:5px black solid ;
            font-size: 1.2rem;
            font-weight: 700;
            &:hover{
                border-left:5px #26740A solid ;
            }
        }
        
        
        
        
        .intro{
            margin-bottom: 30px;
        }
    }
    
    
    
    //下方卡片
    
    .guessYouLike{
    
        // min-width: 912px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content:flex-start;
        align-items:flex-start;
    
       
       
        .card{
            width: 48%;
            height: 280px;
            // border: 1px black solid;
            border-radius: 10px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0,0,0,.25);
            cursor: pointer;
            .imgWrap{
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                &:hover img{
                    transition: .5s;
                    transform:scale(1.2,1.2);
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    // margin-bottom: 10px;
                }
            }
        }
        
        
        p{
            margin-bottom: 0px;
                height: 50px;
                line-height: 1rem;
                font-size: .8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
        }
        h2{
            font-size: 1rem;
            span{
                color:#FF0F00;
            }
        }    
    
       
        // .cardEmpty{
        //     width: 20%;
        // }
        // .cardEmpty2{
        //     width: 2%;
        // }
    }
    
    .underLine{
        border-bottom: 5px solid #26740A;
    }
    
    
    .comWrap{
        width: 95%;
        margin: 0 auto;
    }
    
    .starBox{
        // width: 80%;
        display: flex;
        align-items: center;
        margin: 10px 0 20px 0;
        
        .write{
            font-size: 1.2rem;
            // width: 100px;
            border-radius: 5px;
            border: none;
            padding: 10px 15px;
            // background-color: black;
                color: black;
                font-weight: 700;
                cursor: pointer;
            &:hover{
                // background-color: red;
                color: red;
            }
        }
    }
    
    .commonArea{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .commonBox{
        padding: 15px 30px;
        width: 98%;
        border: 1px solid #ccc;
        .commonTitle{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .memberName{
                font-size: 1.5rem;
                margin-left: 20px;
            }
        
            .commonTitle_img_border{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                     width: 60px;
                    height: 60px;
                    border-radius: 50%;
                background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
                .commonTitle_img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                     overflow: hidden;
                     img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }
                }
            }
            

            .gold {
                background-image: conic-gradient(from 180deg at 50% 50%, #fffcf4 0deg, #ffbf00 69.37deg, #ffa600 163.12deg, #ab8100 275.62deg, #ffffff 360deg);
            }

            .silver {
                background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
            }

            .bronze {
                background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
            }
        }
        .commonText{
            line-height: 1.5rem;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .howStar{
            color: #FFDA16;
            margin-bottom: 20px;
        }
        .readMore{
            font-weight: 700;
            cursor: pointer;
        }
        
    }
}