:root{
    --darkGreen:#01170D;
    --lightGreen:#D9DED9;
    --yellow:#FFDA16
}
*{
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: var(--darkGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 88;
}
.nav ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.nav ul a:hover{
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 5px;
}
.navRight i{
    font-size: 18px;
    color: #ffffff;
    margin-left: 30px;
}
.logo{
    width: 60px;
    height: 40px;
    
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navLeft{
    display: flex;
    width: 45%;
    justify-content: space-between;
}