@import '../global.scss';

.title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 100px 0 70px 0;
    a{
        color: rgb(45, 39, 39);
    }
}

.dayonepic{
    width: 50%;
    img{
        width: 100%;
        object-fit: cover;
    }
}

// .sliderdots{
//     margin: 80px 0;
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

// .sliderdot{
//     border-radius: 5px;
//     display: inline-block;
//     background-color: black;
//     width: 90px;
//     height: 10px;
//     margin-left: 13px;
// }

// .sliderdot:hover{
//     background-color: white;
// }

.slider{
    margin: auto;
    height: 520px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .join{
        border-radius: 5px;
            border: none;
            background-color: #000;
            color: white;
            padding: 10px;
            width: 150px;
            align-self: flex-end;
            
            &:hover{
                background-color: yellow;
                color: black;
                border: none;
            }
    }
}

.disable{
    filter:grayscale(95%);
    position: relative;
    &::before{
        content: '已報名截止';
        font-size: 40px;
        text-align: center;
        line-height: 100px;
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: red;
        color: #fff;
        // transform: rotate(45deg);
        
    }
}

.dayoneright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //右邊進度條跟說明的上下排版
}

.context{
    margin:0 10px 0 60px;
    width: 100%;
    display: flex;
    justify-content: center;    
}

.text{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        font-size: 18px;
        width:100%;
        line-height:30px;
    }
    h3{
        padding-top: 10px;
        font-size: 30px;
        font-weight: 600;
        line-height:40px;
    }
    h4{
        font-size: 24px;
        line-height:40px;

    }
}

.bar{
    margin-bottom: 10px;
    p{
        text-align:center;
        padding: 3px;
    }
}

.barlong{
    width: 500px;
    height: 15px;
    margin: 10px auto;
    background-color: rgb(17, 35, 3);
    position: relative;
    border-radius: 15px ;
}

.barshort{
    // width: 90%;
    height: 100%;
    background-color: rgb(255, 242, 0);
    border-radius:  15px ;
    
}

.limit{
    display: flex;
    flex-direction: column;
    align-items: left;    
    button{
        width: 10px;
        height: 5px;
        border: transparent;
    }
}

.list{
    display: flex;
    justify-content: center;  
    align-items: center;     
    flex-wrap: wrap;
}

.listbox{
    border-radius: 20px;
    background-color: #fff;
    margin: 60px 0 120px 0;
    width: 1330px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;  
    align-items:center;
}

.listcard{
    //background-color: rgb(122, 180, 111);
    width: 300px;
    height: 360px;
    cursor: pointer;
    img{
        width: 100%;
        height: 200px;
    }
}
.listcardtext{
    width: 100%;
    height: 160px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    p{
        text-align: left;
    }
    span{
        color: $yellow;
    }
}

