@import '../global.scss';

.bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 40px;    
    background-color:#e9d8a2ef;
    font-weight: 700;
    }
.name, .price{
    font-size: 1.3rem;
}
.select{
    select{
        border-radius: 5px;
        padding: 5px 15px;
        border: none;
        margin-right: 25px;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.822);
    }

}
.add{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.822);

}