@import '../global.scss';
.roomSearch{
    display: flex;
    justify-content: center;
    .block{
        border: none;
        background-color: white;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 8px 20px ;
        margin: 50px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

