@import '../global.scss';
.cardWrap{
    width: 65%;
    padding:50px 75px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 4px 16px rgba(0, 0, 0, 0.25) ;
}
.title{
    display: flex;
    .roomName{
        margin: auto 0;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .star{
        margin:auto 10px;
        i {
            color: #ffda16;
            font-size: 1rem;
            margin-right: 5px;
        }
        span{
            font-weight: 700;
        }
    }
}
.sideTitle{
    display: flex;
    margin-top: 15px;
    align-items:baseline;
    justify-content: space-between;
    .icon{
        display: flex;
        span{
            display: inline-block;
            padding-right: 10px;
            font-weight: 700;
            i {
                color:#48742C;
            }
        }
        }
    .price{
        font-weight: 700;
        font-size: 1.5rem;
    }
}
.slideWrap{
    width: 80%;
    // overflow: hidden;
    margin:0 auto;
    .slide{
        margin:40px auto 0px auto;
        // width: 2100px;
        // translate: -500px 0;

        // outline: 1px red solid;
    // .imgs{
    //     display: flex;
    //     justify-content: center;
    //     width: 100%;
        }
    // }
}


.arrow{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    i{
        cursor: pointer;
        margin: 10px 100px;
    }
}
.bottom{
    // display: flex;

    .switch{
        cursor: pointer;
        display: flex;
        width: 100%;
        margin-top: 50px;
        border-bottom: 1px solid darkgrey;
        div{
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
            width: 50%;
            padding: 15px 100px;    
    }
    .line{
        border-bottom: 5px solid Green;  
        transition: 0.5s;
    }
}
    span{
        display: block;
        line-height: 1.6rem;
        letter-spacing: 1px;
        margin-left: 10px;

    }
    p{
        line-height: 1.6rem;
        letter-spacing: 1px;
        width: 100%;
        margin-left: 10px;

    }
}
.sec1, .sec2, .sec3, .sec4{
    h4{
        margin: 45px 0 20px 0;
        padding: 4px 0 4px 10px;
        font-size: 1.2rem;
        font-weight: 700;
        border-left: 4px solid $darkGreen;
    }
}
.sec3{
    .facilityList{
        display: flex;
        margin-left: 10px;
        flex-wrap: wrap;
    }
    .facility{
        padding: 15px;
        background-color: #E0E5CF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 125px;
        border-radius: 5px;
        margin: 15px 20px 15px 20px;

        img{
            width: 40px;
            // margin-bottom: 10px;

        }
        span{
            margin-top: 5px;
            font-size: 0.9rem;
            font-weight: 500;
            text-align: center;
            margin-left: 0
        };
    }
}