@import '../global.scss';

.bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px;    
    background-color:#e9d8a2ef;
    font-weight: 700;
    }
.name, .price{
    font-size: 1.3rem;
}
.select{
   input{
    margin:0 10px;
    border: none;
    padding: 8px 15px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.822);
   }
    select{
        border-radius: 5px;
        padding: 5px 15px;
        border: none;
        margin:0 10px;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.822);
    }
}

.add{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.822);

}
