@import '../global.scss';


.LeaderboardWrap{
   
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    // background-color: rgba(90, 76, 76, 0.311);
    padding: 10px;
    z-index: 999;
    .Leaderboard{
       
        overflow: hidden;
        width: 80%;
       
        margin:100px auto 0 auto;
        display: flex;
        flex-direction: column;
        .topWrap{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            h2{
                margin-right: 50px;
                font-size: 2.5rem;
                background:linear-gradient(180deg, #ee9c3f 25%,#857b51 50%,#f1a248 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            form{
                background-color: #fff;
                border-radius: 10px;
                    border: none;
                i{
                    margin: 0 10px;
                    color: #ccc;
                }
                input{
                    border-radius: 10px;
                    border: none;
                 height: 35px;
                 outline-style: none;
                }
            }
            
        }
        .board{
            width: 100%;
            // border: 1px black solid;
            border-radius:   8px 8px 0 0;
           
            .head{
                width: 100%;
                border-radius:   8px 8px 0 0;
                display: flex;
                font-size: 1.2rem;
                line-height: 1.2rem;
                padding: 5px 0 ;
                color: white;
                background-color: rgba(105, 142, 66, 0.42);
                .ranking{
                    display: flex;
                    justify-content: center;
                    width: 15%;
                    
                }
                .name{
                    display: flex;
                    justify-content: center;
                    width: 40%;
                }
                .height{
                    display: flex;
                    justify-content: center;
                    width: 45%;
                }
            }
            
            .flexUl{
                height: 420px;
                overflow-y: scroll;
            }
           
            ul{
                // height: ;
                li:nth-child(even){
                    background-color: rgba(10, 40, 14, 0.5);
                }
                li:nth-child(odd){
                    background-color: rgba(41, 79, 28, 0.5);
                }
                li{
                    padding: 5px 10px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                        .ranking{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // margin-right: 5px;
                            width: 15%;
                            font-size: 2.2rem;
                            color: #FFED90;
                            font-weight: 700;
                            i{
                                margin-left: 10px;
                                font-size: 2rem;
                            }
                        }
                        .nameWrap{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40%;
                            .empty{
                                margin-left: 110px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                            }
                            .imgBorder{
                                margin-right: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                 width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                cursor: pointer;
                                
                            // background: linear-gradient(#3401f0, #6b41e7,#9b06e6);
                                .imgWrap{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    img{
                                        width: 50px;
                                        height: 50px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            .gold {
                                background-image: conic-gradient(from 180deg at 50% 50%, #fffcf4 0deg, #ffbf00 69.37deg, #ffa600 163.12deg, #ab8100 275.62deg, #ffffff 360deg);
                            }
                            
                            .silver {
                                background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
                            }
                            
                            .bronze {
                                background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
                            }
                            p{
                                font-size: 1.2rem;
                                color: white;
                            }
        
                        }
                        .height{
                            display: flex;
                            justify-content: flex-start;
                            width: 45%;
                        }
                 }
            }
            
            
        }
        .switchBtn:nth-child(1){
            background-color: rgba(41, 79, 28, 0.5);
        }
        .switchBtn:nth-child(2){
            background-color: rgba(41, 79, 28, 0.5);
        }
        .switchBtn{
            width: 100%;
            height: 40px;
            display: flex;
            font-size: 1.2rem;
            line-height: 1.2rem;
            border-radius:  0 0 8px 8px;
            overflow: hidden;
            color: white;
            .btnLeft{
                width: 50%;
                display: flex;
                justify-content: center;
                // border-radius: 5px;
                // overflow: hidden;
                align-items: center;
                padding: 5px 0 ;
                cursor: pointer;
                background-color: rgba(10, 40, 14, 0.5);
                a{
                    color: rgba(230, 189, 67, 0.701);
                  }
            }
            .btnRight{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0 ;
                cursor: pointer;
                background-color: rgba(41, 79, 28, 0.5);
            }
        }
    
    }
    
    .rectangle{
        background-color: $yellow;
        border-radius: 0 5px 5px 0;
        p{
            padding-left: 10px;
        }
    }
}
