@import '../global.scss';

.title{
    text-align: center;
    font-size: 2.5rem;
}
.wrap{
    width:75%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
}
.imgWrap{
    // border-radius: 5px;
    // overflow: hidden;

    width:100%;
    height: 185px;
    object-fit: contain;
   
    img{
        width: 100%;
        height: 100%;
    }
}

// .black{
//     width:100%;
//     height: 200px;
//     display: none;
//     background-color: rgba(0, 0, 0, 0.534);
//     &:hover{
//         display: block;
//     }
// }
.cardWrap{  
    display: flex;
    flex-direction: column;
    width: 22%;
    height:330px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 20px 35px 20px;
    &:hover{
        transform: scale(1.02);
        transition:0.5s;
    }

}
.icon{
    display: flex;
    justify-content: space-between;
    span{
        display: inline-block;
        margin-top: 10px;
        padding-right: 10px;
        font-weight: 700;
        i {
            color:#48742C;
        }
    }
    }

.member{
    margin-top: 5px;
    display: flex;
    span{
        line-height: 1.5rem;
        margin-left: 10px;
    }
    .memberImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: fill;
    img{
        border: 3px solid transparent;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
   
}
}
.content{
    width: 100%;
    height: 55px;
    padding: 20px 10px;
    line-height: 1.5rem;
    font-size: 0.9rem;
    word-break:break-all;
    text-overflow: ellipsis;
    overflow:hidden;


}
.bottom{
    display: flex;
    justify-content: space-between;
}
.postDate{
    margin-top: 5px;
    line-height: 1.5rem;
   
    
}



.more{
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    width:200px;
    padding: 15px 23px;
    background-color: $yellow;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    font-weight: 700;
    &:hover{
        color: black;
        transform: scale(0.95);
        transition:0.5s;
    }

}

.gold {
    background-image: conic-gradient(from 180deg at 50% 50%, #fff6c4 0deg, #ffc31c 69.37deg, #ecc900 163.12deg, #ffbf00 275.62deg, #fff6c4 360deg);
}

.silver {
    background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
}

.bronze {
    background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
}
