@import '../global.scss';
.WeatherCardWrapper{
    width: 15%;
    position: fixed;
    min-width: 320px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px 15px; 
    top:125px;
    left: 100px;
    background-color: rgba(39, 136, 39, 0.764);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .icon{
        width: 100%;
        img{
            display: block;
            margin: 0 auto;
            width: 150px;
        }
    }
    .tempareature{
        display: flex;
        justify-content: space-around;
        text-align: center;
        div{
            margin:0 20px;
            display: flex;
            flex-direction: column;
        }
    }
    .date{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    span{
        display: inline-block;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
    .tempareature span{
        font-size: 1.4rem;
    }
    select{
        margin-top: 10px;
        border: none;
        padding: 5px 25px;
        border-radius: 5px;
        font-weight: 500;
        background-color: rgb(251, 251, 178);
    }
}