@import '../global.scss';
.WeatherCardWrapper{
    width: 15%;
    position: relative;
    min-width: 360px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 30px 15px; 
    top:150px;
    left: 100px;
    background-color: rgba(39, 136, 39, 0.764);
    border-radius: 15px;
}
.location{
    font-size: 28px;
    color: $darkGreen;
}
.currentWeather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.temperature{
    color: $darkGreen;
    font-size: 96px;
    font-weight: 300;
    display: flex;
}
.rain{
    display: flex;
    align-items: center;
    font-size: 16x;
    font-weight: 300;
    color: $darkGreen;
    svg {
      width: 25px;
      height: auto;
      margin-right: 30px;
}
}