@import '../global.scss';
.buyCart{
  width: 50%;
  height: 100px;
  margin: 0 auto ;
  // background-color: rgba(227, 238, 231, 0.73);
  background-color: #e9d8a2be;
  position: fixed;
  // position: absolute;
  bottom: 0;
  left: 25%;
}
.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    border: none;
    background-color: $darkGreen;
    color:$yellow;
    border-radius: 5px;
    padding: 10px 20px;
  }
  p{
    font-size: 20px;
  }
}
.price{
  p{
    font-size: 30px;
  }
}