@import '../global.scss';
.body {
  width: 100%;
  max-height: 205vh;
  margin-bottom: 50px;
}
.cardWrap {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cartTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    div {
      text-align: center;
      line-height: 50px;
      width: 50px;
      height: 50px;
      border: 1px solid $darkGreen;
      border-radius: 50%;
      margin-right: 50px;
      position: relative;
      &:nth-child(1):after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $darkGreen;
        left: 60px;
        top: 25px;
      }
      &:nth-child(2):after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $darkGreen;
        left: 60px;
        top: 25px;
      }
      &:nth-child(3):after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $darkGreen;
        left: 60px;
        top: 25px;
      }
    }
  }
  .text {
    width: 100%;
    display: flex;
    margin-left: -5px;
    p {
      margin-right: 36px;
      font-size: 1rem;
    }
  }
}
.active {
  color: #ffffff;
  background-color: $darkGreen;
}

//購物車沒商品的話，顯示的畫面
.empty {
  width: 100%;
  height: 300px;
}
.empty1 {
  width: 100%;
  height: 100px;
}
.noCart {
  width: 650px;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  i:first-child {
    color: $darkGreen;
    font-size: 90px;
    animation: cart 1s linear;
  }
  i:nth-child(2) {
    color: $darkGreen;
    font-size: 30px;
    position: absolute;
    left: 60%;
    top: -10%;
    transform: rotate(130deg);
    animation: hands 1s linear infinite;
  }
  p {
    color: $darkGreen;
    font-size: 26px;
    animation: cartP 1s linear;
  }
}
@keyframes cart {
  0% {
    transform: translateX(-550%) rotate(35deg);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes cartP {
  0% {
    transform: translateX(200%) rotate(-15deg);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes hands {
  0% {
    transform: translate(5px, 5px) rotate(125deg);
  }
  100% {
    transform: translate(-20px, -20px) rotate(125deg);
  }
}
@media screen and (max-width: 1100px) {
  .body {
    max-height: 300vh;
  }
}
@media screen and (max-width: 837px){
  .empty1 {
    height: 130px;
  }
}
@media screen and (max-width: 576px) {
  .cardWrap {
    .cartTitle {
      div:last-child {
        margin-right: 0;
      }
    }
    .text {
      justify-content: space-around;
      margin-left: 0;
      p {
        margin-right: 0;
      }
    }
  }
  .empty {
    height: 250px;
  }
  .noCart {
    width: 370px;
    min-width: 370px;
    flex-direction: column;
    i:first-child {
      font-size: 80px;
    }
    i:nth-child(2) {
      display: none;
    }
    p {
      width: 370px;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
