@import '../global.scss';
.empty1 {
  width: 100%;
  height: 60px;
}
.ok{
  width: 98%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.okCard{
  max-width: 45%;
  height: 400px;
  background-color: #ffffff;
  margin: 30px auto 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .okText{
    margin-top: 25px;
    // height: 30%;
    h2{
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 30px;
      position: relative;
      &::after{
        content: '';
        width: 150%;
        height: 2px;
        background-color: $lightGreen;
        position: absolute;
        bottom: -10px;
        left: -70px;
      }
    }
    p{
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
  .okBottom{
    display: flex;
    width: 25%;
    justify-content: space-between;
  .forHome{
    border: 1px solid $darkGreen;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: black;
    }
  }
  .lookOrder{
    border: 1px solid $darkGreen;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }
}