@import '../global.scss';

.writeWrap {
  width: 100%;
  height: 100%;
  background-color: #E3EEE7;
  border-radius: 10px;
  backface-visibility:hidden;
  position: absolute;
  padding: 20px 0 15px;
  >h2{
    font-size: 25px;
    text-align: center;
  }
}
.catchPay{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.catch,.pay{
  span{
    margin-right: 15px;
  }
  select{
    border: none;
    border-radius: 5px;
  }
}

.buyPeople,.receive{
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
  .text{
    
    border-bottom: 3px solid white;
    padding: 0px 0 15px;
    margin-bottom: 25px;
    display: flex;
    h2{
      margin-right: 100px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
.buyPeople > h2{
  font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid white;
    padding: 0px 0 15px;
    margin-bottom: 25px;
}
.buyInput,.receiveInput{
  width: 85%;
  margin: 0 0 0 auto;
  div{
    display: flex;
    margin-top: 20px;
    label{
      width: 25%;
    }
    input,textarea{
      width: 60%;
      border: none;
      border-radius: 5px;
      padding-left: 5px;
    }

  }
}