@import '../global.scss';

.row {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
    width: 100%;

    .col {
        width: 1320px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-between;

        aside {
            width: 320px;
            height: 760px;
            position: sticky;
            background-color: #fff;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            top: 120px;
            box-sizing: border-box;
            padding: 40px 32px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
            text-align: center;

            .nameMobile {
                display: none;
            }

            .social {
                cursor: pointer;
            }

            .avatar {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                // background-image: linear-gradient(0deg,#ddd, #444);
                box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
                overflow: hidden;
                margin: auto;
                margin-bottom: 25px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 10px solid transparent;
                    box-sizing: border-box;
                }
            }

            .gold {
                background-image: conic-gradient(from 180deg at 50% 50%, #fffff5 0deg, #eea41b 69.37deg, #ffd321 163.12deg, #f0a820 275.62deg, #ffffc5 360deg);
            }

            .silver {
                background-image: conic-gradient(from 180deg at 50% 50%, #F7F7F7 0deg, #A09F9E 69.37deg, #9A9998 163.12deg, #4b4946 275.62deg, #F7F7F7 360deg);
            }

            .bronze {
                background-image: conic-gradient(from 180deg at 50% 50%, #fff1c7 0deg, #b37e4a 69.37deg, #c27f3b 163.12deg, #98600c 275.62deg, #fff1c7 360deg);
            }

            h3 {
                font-weight: bold;
                font-size: 32px;
                line-height: 32px;
                text-align: center;
                margin-bottom: 16px;
            }

            .socials {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: auto;
                border-top: 1px solid #ccc;
                padding-top: 16px;
                margin-bottom: 12px;
            }

            .highlight {
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #333;
                margin-bottom: 16px;
            }

            pre {
                line-height: 17px;
                font-weight: 600;
                white-space: pre-wrap;
                overflow: hidden;

                &.intro {
                    height: 140px;
                    text-align: left;
                }
            }

            button {
                width: 200px;
                height: 40px;
                border: none;
                border-radius: 10px;
                background: #FFDA16;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #01170D;
                margin-top: 28px;
                transition: 0.2s;

                &:hover {
                    background: #ffc116;
                }


                &.follow {
                    margin-top: 0;
                    margin-bottom: 36px;
                }
            }
        }

        article {
            width: 960px;
            // min-height: 75vh;
            // height: 300vh;
            // background-color: pink;
        }

    }

}

@media screen and (max-width: 1400px) {
    .row {
        .col {
            width: 960px;
            .btnGrp {
             display: flex;
             flex-direction: column;
             align-items: center;
            }
            article {
                width: 600px;
            }
            
        }
        
    }

}

@media screen and (max-width: 992px) {
    .row {
        .col {
            width: 740px;
            article {
                width: 380px;
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .row {
        .col {
            width: 100%;
            flex-direction: column;

            aside {
                top: 0;
                width: 90%;
                margin: auto;
                position: relative;
                margin-bottom: 30px;
                height: auto;

                .nameMobile {
                    display: flex;
                    align-items: flex-end;
                    h3 {
                        margin-right: 10px;
                    }
                }

                .memberStats {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    
                    .nameWeb {
                        display: none;
                    }

                    .socials {
                        width: 60%;
                        margin: 0;
                        border: none;
                        padding-bottom: 25px;
                        justify-content: space-around;
                    }

                    .avatar {
                        width: 100px;
                        height: 100px;
                        margin-left: 0;
                    }

                }

                .intro {
                    height: auto;
                }

                .btnGrp {
                    flex-direction: row;
                    gap: 3%;
                }
            }

            article {
                width: 90%;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .row{
        .col{
            aside{
                .btnGrp {
                    button {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .row{
        .col{
            aside{
                .btnGrp {
                    flex-direction: column;
                }
            }
        }
    }
}